<h1>Username = <%= @user.username %></h1>

<p>Email = <%= @user.email %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: "Yang bener?"
  } %></li>
</ul>
